<IfModule mod_rewrite.c>
  # prevent directory listings
  Options -Indexes
  IndexIgnore */*

  # follow symbolic links
  Options FollowSymlinks
  RewriteEngine on
  RewriteRule ^(.+)?$ backend/web/$1
</IfModule>